html, body, #root {
  height: 100%;
  margin: 0;
}

.header-logo {
  max-width: 450px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem; 
}

.btn, .form-control {
  border-radius: 4px !important;
}

.card {
  border-radius: 4px !important;
}

.input-group .form-control:first-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-group .btn:last-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.btn-videplast {
  background-color: #D32F2F !important;
  border-color: #D32F2F !important;
  color: white !important;
  font-weight: 500;
}

.btn-videplast:hover {
  background-color: #B71C1C !important;
  border-color: #B71C1C !important;
}

.btn-outline-videplast {
  color: #D32F2F !important;
  border-color: #D32F2F !important;
  background-color: transparent !important;
  font-weight: 500;
}

.btn-outline-videplast:hover {
  background-color: #FFF0F0 !important;
}

.table-dark th {
  background-color: #343A40 !important;
  border-color: #454d55 !important;
}